set default="nexusos"
set timeout=3

if loadfont /usr/share/grub/unicode.pf2; then
  set gfxmode=auto
  insmod efi_gop
  insmod efi_uga
  insmod gfxterm
  insmod gfxmenu
  terminal_output gfxterm
fi

set menu_color_normal=white/black
set menu_color_highlight=black/white

# Low-RAM base command line
set cmdline="splash quiet loglevel=3 rd.systemd.show_status=auto zswap.enabled=1 zswap.compressor=lz4"

menuentry "NexusOS (Live)" {
  set gfxpayload=keep
  linux /vmlinuz-linux-zen ${cmdline}
  initrd /intel-ucode.img /amd-ucode.img /initramfs-linux-zen.img
}

menuentry "NexusOS (Persistent USB)" {
  set gfxpayload=keep
  linux /vmlinuz-linux-zen ${cmdline} cow_persistent=persistent_NexusOS.img
  initrd /intel-ucode.img /amd-ucode.img /initramfs-linux-zen.img
}

menuentry "NexusOS (Safe Mode / Low RAM)" {
  set gfxpayload=keep
  linux /vmlinuz-linux-zen ${cmdline} nomodeset mem=512M
  initrd /intel-ucode.img /amd-ucode.img /initramfs-linux-zen.img
}

menuentry "NexusOS (Minimal - No desktop)" {
  linux /vmlinuz-linux-zen ${cmdline} systemd.unit=multi-user.target
  initrd /intel-ucode.img /amd-ucode.img /initramfs-linux-zen.img
}

menuentry "Check ISO Integrity" {
  linux /vmlinuz-linux-zen ${cmdline} archiso_checksum
  initrd /intel-ucode.img /amd-ucode.img /initramfs-linux-zen.img
}

menuentry "Reboot" { reboot }
menuentry "Shutdown" { halt }
