set default="nexusos"
set timeout=0

if loadfont /usr/share/grub/unicode.pf2; then
  set gfxmode=auto
  insmod efi_gop
  insmod efi_uga
  insmod gfxterm
  insmod gfxmenu
  terminal_output gfxterm
fi

set menu_color_normal=white/black
set menu_color_highlight=black/white

set cmdline="splash quiet loglevel=3 rd.systemd.show_status=auto zswap.enabled=1 zswap.compressor=lz4"

# Default: 512MB RAM + USB persistence (boots instantly)
menuentry "NexusOS" {
  set gfxpayload=keep
  linux /vmlinuz-linux-zen ${cmdline} nomodeset mem=512M cow_persistent=persistent_NexusOS.img
  initrd /intel-ucode.img /amd-ucode.img /initramfs-linux-zen.img
}

# Hidden entries (hold Shift to show menu)
menuentry "NexusOS (Live only)" {
  set gfxpayload=keep
  linux /vmlinuz-linux-zen ${cmdline}
  initrd /intel-ucode.img /amd-ucode.img /initramfs-linux-zen.img
}

menuentry "NexusOS (Minimal - Terminal)" {
  linux /vmlinuz-linux-zen ${cmdline} systemd.unit=multi-user.target
  initrd /intel-ucode.img /amd-ucode.img /initramfs-linux-zen.img
}

menuentry "Check ISO Integrity" {
  linux /vmlinuz-linux-zen ${cmdline} archiso_checksum
  initrd /intel-ucode.img /amd-ucode.img /initramfs-linux-zen.img
}

menuentry "Reboot" { reboot }
menuentry "Shutdown" { halt }
