SERIAL 0 115200
DEFAULT nexusos
PROMPT 0
TIMEOUT 50

UI vesamenu.c32

MENU TITLE NexusOS
MENU BACKGROUND splash.png

LABEL nexusos
  MENU LABEL NexusOS (Live)
  KERNEL /vmlinuz-linux-zen
  INITRD /intel-ucode.img,/amd-ucode.img,/initramfs-linux-zen.img
  APPEND splash quiet loglevel=3 rd.systemd.show_status=auto zswap.enabled=1 zswap.compressor=lz4

LABEL nexusos-persistent
  MENU LABEL NexusOS (Persistent USB)
  KERNEL /vmlinuz-linux-zen
  INITRD /intel-ucode.img,/amd-ucode.img,/initramfs-linux-zen.img
  APPEND splash quiet loglevel=3 rd.systemd.show_status=auto cow_persistent=persistent_NexusOS.img

LABEL nexusos-lowram
  MENU LABEL NexusOS (Safe Mode / 512MB RAM)
  KERNEL /vmlinuz-linux-zen
  INITRD /intel-ucode.img,/amd-ucode.img,/initramfs-linux-zen.img
  APPEND nomodeset mem=512M splash quiet

LABEL nexusos-minimal
  MENU LABEL NexusOS (Minimal - Terminal)
  KERNEL /vmlinuz-linux-zen
  INITRD /intel-ucode.img,/amd-ucode.img,/initramfs-linux-zen.img
  APPEND systemd.unit=multi-user.target splash quiet

LABEL check
  MENU LABEL Check ISO Integrity
  KERNEL /vmlinuz-linux-zen
  INITRD /intel-ucode.img,/amd-ucode.img,/initramfs-linux-zen.img
  APPEND archiso_checksum

LABEL hdt
  MENU LABEL Hardware Detection Tool
  KERNEL /hdt.c32
